.top {
    min-height: calc(100vh - 50px);
    position: relative;
}
.top__img {
    width: 55%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 20%;
}
/* slider */
.top__slider {
    width: 75%;
    height: 180px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 10%;
}

.section__title {
    font-size: 1.5rem;
    display: block;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}