.top {
    min-height: calc(100vh - 50px);
    position: relative;
}
.top__img {
    width: 70%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 20%;
}
/* slider */
.top__slider {
    width: 75%;
    height: 180px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 10%;
}